html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat' ;

}
a{
    color: white;

}
a:hover {
    color: gray;


}


main{
    background-color: #EEE9E0;
    height: 100%;
    padding: 0 10%;

}
.old, .new{
    width:50%;
    display: block;
    
    position: relative;
    float: left;
    margin-top:3em; 
}

.content{
    height: 80%;
    width: 70%;
    padding: 0% 15%;
    position: relative;

}
main img{
    display: block;
    height: 5em;
    padding-top: 2em;
    margin: 0em auto;
    cursor: pointer;

}

.empty{
    visibility: hidden;
}


h1{
    font-size: 2.2em;
    font-weight: 200;
    padding-top: 5em;
    margin: 0;
    text-align: center;
}
h4{
    font-size: 1.1em;
    margin: 0;
    padding-top: 0.5em;
    font-weight: 100;
}
#secondh4{
    margin-top:3em;
}
input{
    background-color: #B8BFA8;
    width:100%;
    
    color: white;
	margin:1em 0; 
    padding:1% 1%;
    font-size: 12px;
}

input::-ms-input-placeholder{
     color: white;
 }
input::-webkit-input-placeholder{
    color: white;
}
input::-moz-placeholder{
    color: white;
}
p{
    padding-top:2em;

    color: #6D6875;
}
label{
	
    color: #6D6875;
}
.gender{
	margin-right: 34%;
	
}
select {
  width: 103%;
  margin:1em 0; 
  padding:1% 1%;
  display: inline-block;
  height:2.2em;
  color: #fff;
  font-size: 12px;
  background-color: #B8BFA8;
	
}
