:root {
    --sky: #3a2e5d;
    --frame: #ece7de;
    --frame-shadow: #998675;
}
body,html{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #E9D4CC;
    overflow: hidden;
}
.garden{
    height: 90vh;
    margin-top: 10vh;
    position: relative;
}
.cls-1{
    fill:#ece7de;
}
.cls-2{
    fill:#d6d6c0;
}
.cls-3{
    fill:#998675;
}
.cls-4{
    fill:#1b3240;
}

.align-rightcurtain{
    position: absolute;
    top:0;
    right:0;
    z-index: 100;
    height: 100vh;
}
.align-leftcurtain{
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    height: 100vh;
}
.room *,
.room *:before,
.room *:after,
.room:before,
.room:after {
    position: absolute;
    box-sizing: border-box;
    margin: auto;

}
.room *:before,
.room *:after,
.room:before,
.room:after {
    content: "";
}



.window{
    height: 60vh;
    width: 50vh;
    top: 15vh;
    left: 0;
    right: 0;
    margin: auto;
    background: #ece7de;
    border-radius: 50% 50% 0 0 / 40% 40% 0 0;
    overflow: hidden;
    z-index: 0;
}
.window:before {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 2vh solid var(--frame);
    box-shadow: inset 0 0 0 1vh var(--frame-shadow);
}
.window-sill {
    top: 67vh;
    width: 66.2vh;
    height: 6vh;
    left: 0;
    right: 0.9vh;
    z-index: 2;
}
p{
    top: 79vh;
    text-align: center;
    font-size: 3.5vh;
    left: 0;
    right: 0vh;
    z-index: 2;

}
.window-bg{
    height: 50vh;
    width: 44vh;
    top: 18vh;
    left: 0;
    right: 0;
    margin: auto;
    z-index:1
}
.flower{
    bottom:32vh;
    width: 11vh;
    left: 0;
    right: 0.9vh;
    z-index: 3;
    transform-origin: center bottom;

}
.flower img{
    /*animation:flower 0.6s 1;*/
    /*animation-delay:4.5s;*/

}
@keyframes flower{
    0%{-webkit-transform:rotate(0deg);}
    33%{-webkit-transform:rotate(-8deg);}
    66%{-webkit-transform:rotate(8deg);}
    /*75%{-webkit-transform:rotate(30deg);}*/
    100%{-webkit-transform:rotate(0deg);}
}
.flower-base{
    top: 55vh;
    width: 23vh;
    left: 0;
    right: 0.9vh;
    z-index: 4;
}
.flower-single{
    top: 69vh;
    width: 14vh;
    height: 6vh;
    left: 0;
    right: 31vh;
    z-index: 4;

}
.waterbottle{
    top: 57vh;
    width: 20vh;
    left: 39vh;
    right: 0vh;
    z-index: 200;
    animation:hide 2s 1;
    /*animation-delay:2s;*/
}
@keyframes hide{
    from{z-index: 4;}
    to{z-index: 4;}
}
.topbottle{
    right:0;
    left:60vh;
    top:20vh;
    width: 25vh;
    -webkit-transform:rotate(-40deg);
    z-index: 4;
    opacity: 0;
}
@keyframes waterbottleani{

    0%{left:39vh; top:57vh;width:20vh;}
    33%{left:60vh; top:20vh;width: 25vh;}
    66%{left:60vh; top:20vh;width: 25vh;-webkit-transform:rotate(-40deg);}
    100%{left:39vh; top:57vh;width:20vh;}
}
.water{
    top: 36vh;
    width: 7vh;
    left: 28vh;
    right: 0vh;
    z-index: 4;
    opacity: 0;
    /*animation: none;*/
    /*animation-delay:2s;*/
}
@keyframes waterani{
    0%{opacity: 1;left: 28vh;top:36vh;}
    100%{opacity: 0;left: 26vh;top:38vh;}
}
.dialog-left{
    top: 18vh;
    width: 35vh;
    left: 0vh;
    right:70vh;
    z-index: 3;
    opacity:0;
    animation:dialog 4s infinite;

}
.dialog-right{
    top: 35vh;
    width: 28vh;
    left: 70vh;
    right: 0vh;
    z-index: 3;
    opacity:0;
    animation:dialog 4s infinite;
    animation-delay:2s;
}
@keyframes dialog{
    0%{opacity:0; }
    /*25%{opacity:0; }*/
    50%{opacity:0; }
    90%{opacity:1; }
    100%{opacity:1; }
}