.center-center{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
body,html{
    background-color: #ECE7DE;
    height: fit-content;
    width:100%;

}
.content{
    width:80%;
    min-height: 100vh;
    margin:0 auto;
    background-color: white;
    background-color: #E7D6CE;
}
.product{
    position: relative;
    height: 10vw;

}
.product img{
    position: relative;
    width: calc(10vw + 4px);
    height: calc(10vw + 4px);
    display: block;
    float: left;
    padding-left: 3em;
}
.productdetail{
    float: left;
    margin-left: 2em;
    height: 100%;
    width: calc(100% - 19vw);
    border: 2px solid #B6BDA6;
    align-items: center;
}
.quantity-button{
    position: relative;

}
.quantity-button img{
    width: 1em;
    height: 0.8em;
    padding: 0 0.5em;
    margin: 0.75em 0


}

.addquantity img{
    padding-left: 0;}


.total-price{
    position: absolute;
    padding-top: 2em;
    padding-left: 2.1em;
    font-size: 1.6em;
}
.leftword p,.rightword p,.leftword span,.rightword span{
    line-height: calc(10vw/3);
    font-size: 1.4vw;

}
.addquantity,.reducequantity{
    cursor: pointer;
}



.addressform{
    display: block;
    margin: 1rem 3rem;
    position: relative;
}

.continue{
    margin-top:5em;
    width:20%;
    margin-left: calc(80% - 2em);
    margin-bottom: 1em;
}

.whole{
    width: calc(90% + 2em);;
}
h1{

    font-size:60px;
    text-align: center;
    font-weight: 200;

}
.toptitle{
    padding: 6.7em 0 0;
    height: 25vh;
    /*line-height: 25vh;*/

}
.toptitle img{
    position:absolute;
    /*z-index: 0;*/
    height: 25vh;
    display: block;
    width: 44.3vh;
    padding: 0 calc((80% - 44.3vh)/2);

}
.chuizhijuzhong{
    position: absolute;
    padding-top:10vh ;
    /*vertical-align:middle;*/
    /*display: inline-block;*/
    /*height: 5vh;*/
    line-height: 5vh;
    font-size:6.5vh;
    text-align: center;
    font-weight: 200;
    width:100%;
    margin-left:-10%;
    font-family: 'Montserrat';
}

#forcontinue{
    display: none;
}
#save{

    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#gotopay{
    width:20%;
    margin-left: calc(80% - 2em);
}
.banner-button {
    width: 96%;
    vertical-align: middle;
    text-align: right;

    margin-top: 5%;
    padding-bottom: 5%;


}
.banner-button a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: auto;
    width: auto;
    line-height: 100%;
    padding: 15px 0px;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: 100;
}
.banner-button img{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 3em;
    margin-left: -1em;

}
.finishnotice{
    display: none;
    width: 70vh;
    height: 30vh;
    border-radius: 5vh;
    background-color: #6D6875;
}
.finishnotice img{
    cursor: pointer;
    position: absolute;
    right: 3vh;
    top:3vh;
    width: 2vh;
    height: 2vh;
}
.noticeword{
    padding-left: 6vh;
    padding-right: 4vh;
    padding-top: 8vh;
    color: white;
    text-align: left;
}
.noticeword p{
    padding:0 ;
}
.gotogarden img{
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: auto;
    left: 0;
    right: 0;
    bottom:0.1vh;
    width: 60vh;
    height: 12vh;
}
.float-flower{
    visibility: visible;
    position:relative;
    z-index:1000;
    width:50px;
    height:50px;

}
.float-box{
    position: absolute;
    width:200px;
    height: 200px;
}
.ani1{
    animation:float-flower1 8s infinite;}
.ani2{
    animation:float-flower2 8s infinite;}

/*从右上到左下运动*/
@keyframes float-flower1{

    0%{
        opacity: 0;
        padding-top:0;
        padding-left:0;}
    25%{
        padding-top:30px;
        padding-left: 30px;
        opacity: 0.9;
    }
    100%{
        padding-top:150px;
        padding-left: 150px;
        opacity: 0;
    }


}
/*从左下到右上运动*/
@keyframes float-flower2{

    0%{opacity: 0;
        padding-top:150px;
        padding-left:0;}
    25%{
        padding-top:120px;
        padding-left: 30px;
        opacity: 0.9;
    }
    100%{
        padding-top:0px;
        padding-left: 150px;
        opacity: 0;
    }

}