@import url('https://fonts.googleapis.com/css?family=Poiret+One|Montserrat&display=swap');
*{

}
body{
    cursor:url(../images/mouse.ico),auto;
}
#indexnav{
    position: absolute;
    height: 18vh;
}
#index-main-nav{
    position: relative;
    width: 80%;
    margin-top: 5vh;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2vh;
    margin-bottom: 2vh;
}
#index-main-list{
     width:auto;
    margin: 0 auto;
    align-items: baseline;
}
.index-logo{
    width:10vh;
    height:10vh;
}
.align-nav{
    margin: 0 auto;
    width: 100%;
}
header{
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 350;
    font-family: 'Montserrat';
    background-color: #1B3240;

}
header *{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black;
}
.container{
    width:100%;
    display: flex;
    height: 100%;

}

ul {
    list-style: none;
    margin:0;
    padding: 0%;

}


.c-main-nav {

    margin: 0 auto;
    position: absolute;
    height: 10vh;
    width: 40%;
    display:flex;
    align-items: center;
    margin-left: 0.7em;
    padding-right: 0%;




}

.c-main-nav__list {
    display: flex;

    width: 100%;

}

.c-main-nav__item {
    margin: 0 0;
    padding:0 1.5em;

    white-space:nowrap;


}

.c-main-nav__item:last-child {
    margin-right: 0;
}
.c-main-nav__link {

    font-size: 1em;
    color: white;
    outline: none;
    display: block;
    cursor: pointer;
}

.c-main-nav__link:hover {
    color: grey;
}


.left,  .right {
    display: inline-block;
    margin: auto 0;
    float: left;
    width: 15%;


}
.left{
    padding-left: 2.2em;
    display: flex;
    height: 100%;
}
.left img{
    width: 22px;
    margin: auto 0;
    cursor: pointer;
}

.middle{
    display: inline-block;
    align-items: center;
    margin: 0  auto;
    width: 20%;
    


}
.center{
    height: 8.4vh;
    width: 20vh;
    margin: 0.8vh auto;
    display: block;
    cursor: pointer;
    z-index: 10;


}
.right{

    padding-right: 2.2vw;
    display: flex;
    float: right;
    height: 100%;
}
.right a{
    white-space:nowrap;
    color: white;
    font-size: 16px;
    /*padding-right: 1.5em;*/
    margin: auto 0;
    width:fit-content;
    text-align: left;
}

.logout{

    padding-right: 0;
    text-align: right;
    visibility: hidden;
}
.line{
    visibility: hidden;
    float: right;
    width: 22px;
    margin: auto 0;
    cursor: pointer;
}
.right:hover .logout{
    visibility: visible;
    padding-right: 0;
    text-align: right;
}
.right:hover .line{
    visibility: visible;
}
a:hover {
    color: gray;
    cursor: pointer;
}
#basketbt{
    position: absolute;
    right:2.2em;
    height: 2.8vh;
    top:3.6vh
}

#basket{
    display: none;
    position: absolute;
    width:15vw;
    min-width: 200px;
    min-height: 300px;
    height:auto;
    right:3vw;
    top:5.8em;

    background-color: #EEE9E0;
    padding-bottom: 5%;
    box-shadow:2px 2px 10px #7c7c7c;/*右下外阴影示例*/
    /*border: #D8D8C2 solid 2px;*/

}
.cart-item{
    height: 28%;
    position: relative;
}
.box{
    width:25%;
    height:0;
    padding-bottom:25%;
    position:relative;
    display: inline-block;
    float: left;
}
.box img{
    width:100%;
    height:100%;
    position:absolute;
    margin-top: 1.6em;
    margin-left: 1.6em;


}
#basket p{
    text-align: left;
}
.productinfo{
    width:60%;
    display: inline-block;
    float: left;
padding-top: 1.7em;
}
.productinfo p{
    font-family: 'Montserrat' ;
    /*font-family: 'Quicksand', sans-serif;*/
    padding-left: 2.7em;
    padding-top: 0em;
    font-size: 0.9em;
    white-space:nowrap;        /* 不换行 */

}
#basket button{
    font-family: 'Montserrat' ;
    position: absolute;
    background-color: #D8D8C2;
    border: none;
    height:4vh;
    width:12vw;
    min-width: 160px;
    bottom: 2vh;
    left: 10%;
    font-size: 1.3vh;
    font-weight: 800;
    white-space:nowrap;        /* 不换行 */
}
#basket a{
    font-size: 1em;
}
p {
    display: block;
    margin-block-start: 0em;
    /*margin-block-end: 0em;*/
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}